body {
  background-image: url(img/back.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.margin-t {
  margin-top: 50px;
}

.center {
  text-align: center;
  margin: 0 auto;
  width: 512px;
}

.border {
  border: 10px solid;
}

.wrap {
  width: 720px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  background-color: aqua;
  border-radius: 30%;
}

button {
  cursor: pointer;
}
button:hover {
  box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

h1 {
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

.flex {
  width: 720px;
  display: flex;
  margin: 0 auto;
}